# host like irc.libera.chat
IRC_SERVER_HOST=
IRC_SERVER_PORT=6697
IRC_SERVER_PASS=""

BOT_BLOCKS_FOUND_CHANNEL="#p2pool-log-example"
BOT_COMMANDS_CHANNEL="#p2pool-log-example"
BOT_NICK=
BOT_USER=
# ChanServ password
BOT_PASSWORD=

# Put here the output of the special p2pool API build
API_FOLDER=

MONEROD_RPC_URL=http://node.supportxmr.com:18081/

TOR_SERVICE_KEY=