version: "2.2"

networks:
  p2pool-log:
    external: false

volumes:
  db:
    external: false
  cache:
    external: false

services:
  tor:
    image: goldy/tor-hidden-service:0.4.5.7
    tmpfs:
      - /tmp
    restart: always
    environment:
      TOR_SOCKS_PORT: 9050
      SERVICE1_TOR_SERVICE_HOSTS: 80:site:80
      SERVICE1_TOR_SERVICE_VERSION: '3'
      SERVICE1_TOR_SERVICE_KEY: ${TOR_SERVICE_KEY}
    networks:
      - p2pool-log
  api:
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    restart: always
    environment:
      - MONEROD_RPC_URL=${MONEROD_RPC_URL}
    depends_on:
      - db
      - scraper
    read_only: true
    security_opt:
      - no-new-privileges:true
    volumes:
      - cache:/cache:rw
      - "${API_FOLDER}:/api:ro"
    tmpfs:
      - /tmp
    networks:
      - p2pool-log
    command: >-
      php /app/src/api.php "host=db port=5432 dbname=p2pool user=p2pool password=p2pool"
  site:
    image: nginx:mainline
    restart: always
    volumes:
      - ./static:/web:ro
      - ./docker/nginx/snippets/cors.conf:/etc/nginx/snippets/cors.conf:ro
      - ./docker/nginx/snippets/csp.conf:/etc/nginx/snippets/csp.conf:ro
      - ./docker/nginx/snippets/security-headers.conf:/etc/nginx/snippets/security-headers.conf:ro
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/site.conf:ro
    depends_on:
      - api
    tmpfs:
      - /run
      - /var/cache/nginx
      - /tmp
    networks:
      - p2pool-log
    ports:
      - 8189:80
  scraper:
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    restart: always
    environment:
      - MONEROD_RPC_URL=${MONEROD_RPC_URL}
    depends_on:
      - db
    read_only: true
    security_opt:
      - no-new-privileges:true
    volumes:
      - cache:/cache:rw
      - "${API_FOLDER}:/api:ro"
    tmpfs:
      - /tmp
    networks:
      - p2pool-log
    command: >-
      php /app/src/daemon.php "host=db port=5432 dbname=p2pool user=p2pool password=p2pool"
  bot:
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    restart: always
    environment:
      - IRC_SERVER_HOST=${IRC_SERVER_HOST}
      - IRC_SERVER_PORT=${IRC_SERVER_PORT}
      - IRC_SERVER_PASS=${IRC_SERVER_PASS}
      - BOT_USER=${BOT_USER}
      - BOT_NICK=${BOT_NICK}
      - BOT_PASSWORD=${BOT_PASSWORD}
      - BOT_COMMANDS_CHANNEL=${BOT_COMMANDS_CHANNEL}
      - BOT_BLOCKS_FOUND_CHANNEL=${BOT_BLOCKS_FOUND_CHANNEL}
      - MONEROD_RPC_URL=${MONEROD_RPC_URL}
    depends_on:
      - db
      - tor
      - scraper
    read_only: true
    security_opt:
      - no-new-privileges:true
    volumes:
      - cache:/cache:rw
      - "${API_FOLDER}:/api:ro"
    tmpfs:
      - /tmp
    networks:
      - p2pool-log
    command: >-
      php /app/src/bot.php "host=db port=5432 dbname=p2pool user=p2pool password=p2pool"
  db:
    image: postgres:13.4
    restart: always
    read_only: true
    security_opt:
      - no-new-privileges:true
    environment:
      - POSTGRES_USER=p2pool
      - POSTGRES_PASSWORD=p2pool
      - POSTGRES_DB=p2pool
    networks:
      - p2pool-log
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --dbname \"postgres://p2pool:p2pool@db/p2pool\"" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db:/var/lib/postgresql/data:rw
    tmpfs:
      # For read-only filesystem, need to create a volume/tmpfs for PostgreSQL to run its much
      # needed configuration. The read-only flag does not make volumes and tmpfs read-only.
      - /tmp
      - /run
      - /run/postgresql