<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>P2Pool.Observer{% block title %}{% endblock %}</title>
        <style>
            {% block style %}
                {{ include('style.css') }}
            {% endblock %}
        </style>
    </head>
    <body>
        {{ include('header.html') }}

        <div class="content center">
            {% block content %}

            {% endblock %}
        </div>

        {{ include('footer.html') }}
    </body>
</html>