<div>
    <footer class="center" style="font-size: 80%; text-align: center; margin-bottom: 20px;">
        <a href="https://github.com/WeebDataHoarder/p2pool-log">source code</a>
        &mdash;
        <a href="https://p2pool.observer">p2pool.observer</a>
        ::
        Tor <a href="http://p2pool2giz2r5cpqicajwoazjcxkfujxswtk3jolfk2ubilhrkqam2id.onion">p2pool2giz2r5cpqicajwoazjcxkfujxswtk3jolfk2ubilhrkqam2id.onion</a>
        <br/>
        Donate to this site on <a class="mono smaller" href="monero:4AeEwC2Uik2Zv4uooAUWjQb2ZvcLDBmLXN4rzSn3wjBoY8EKfNkSUqeg5PxcnWTwB1b2V39PDwU9gaNE5SnxSQPYQyoQtr7">4AeEwC2Uik2Zv4uooAUWjQb2ZvcLDBmLXN4rzSn3wjBoY8EKfNkSUqeg5PxcnWTwB1b2V39PDwU9gaNE5SnxSQPYQyoQtr7</a> or <a class="mono" href="donate:p2pool.observer">p2pool.observer</a> :: <a href="https://github.com/SChernykh/p2pool#donations">Donate to P2Pool Development</a>
    </footer>
</div>
