<div>
    <footer class="center" style="font-size: 80%; text-align: center; margin-bottom: 20px;">
        <a href="https://github.com/WeebDataHoarder/p2pool-log">source code</a>
        &mdash;
        <a href="https://{{ getenv('NET_SERVICE_ADDRESS') }}">{{ getenv('NET_SERVICE_ADDRESS') }}</a>
        ::
        Tor <a href="http://{{ getenv('TOR_SERVICE_ADDRESS') }}">{{ getenv('TOR_SERVICE_ADDRESS') }}</a>
        <br/>
        Donate to P2Pool.Observer developer on <a class="mono smaller" href="monero:4AeEwC2Uik2Zv4uooAUWjQb2ZvcLDBmLXN4rzSn3wjBoY8EKfNkSUqeg5PxcnWTwB1b2V39PDwU9gaNE5SnxSQPYQyoQtr7">4AeEwC2Uik2Zv4uooAUWjQb2ZvcLDBmLXN4rzSn3wjBoY8EKfNkSUqeg5PxcnWTwB1b2V39PDwU9gaNE5SnxSQPYQyoQtr7</a> or OpenAlias <span class="mono">p2pool.observer</span> :: <a href="https://github.com/SChernykh/p2pool#donations">Donate to P2Pool Development</a>
    </footer>
</div>
