<div>
    <div class="center">
        <h1 class="center"><a href="/">Monero P2Pool.Observer</a></h1>
        <h4 style="font-size: 15px; margin: 0px">
            <a href="https://github.com/SChernykh/p2pool">What is P2Pool?</a>
            ::
            <a href="https://github.com/SChernykh/p2pool#how-to-mine-on-p2pool">How to join P2Pool</a>
        </h4>
        <h4 style="font-size: 13px; margin: 0px; font-weight: normal;">
            <a href="https://sethforprivacy.com/guides/run-a-p2pool-node/" rel="nofollow">Guide on how to run a Monero and P2Pool node by <em>Seth</em></a>
            ::
            <a href="https://github.com/WeebDataHoarder/p2pool-compose" rel="nofollow">Monero and P2Pool "build from scratch" docker-compose setup</a>
        </h4>
        <h4 style="font-size: 13px; margin: 0px; font-weight: normal;">
            <a href="https://xmrvsbeast.com/p2pool/" rel="nofollow">P2Pool Bonus Hash Rate Raffle by <em>XMRvsBEAST</em></a>
        </h4>

    </div>
</div>