<div>
    <div class="center" style="text-align: center">
        {% if getenv('SITE_TITLE') == "" %}
        <h1 class="center"><a href="/">Monero P2Pool.Observer</a></h1>
        <h4 style="font-size: 15px; margin: 0px">
            <a href="https://github.com/SChernykh/p2pool">What is P2Pool?</a>
            ::
            <a href="https://github.com/SChernykh/p2pool#how-to-mine-on-p2pool">How to join P2Pool</a>
            ::
            <a href="/api">API Documentation</a>
        </h4>
        <h4 style="font-size: 14px; margin: 0px; color:yellow;">
            Update your monerod to
            <a href="https://www.getmonero.org/downloads/#cli" target="_blank">v0.18.0.0</a>
            and P2Pool to
            <a href="https://github.com/SChernykh/p2pool/releases/latest" target="_blank">v2.2.1</a> to be ready for August 13th network upgrade.
        </h4>
        <h4 style="font-size: 13px; margin: 0px; font-weight: normal;">
            <a href="https://sethforprivacy.com/guides/run-a-p2pool-node/" rel="nofollow">Guide on how to run a Monero and P2Pool node by <em>Seth</em></a>
            ::
            <a href="https://github.com/WeebDataHoarder/p2pool-nsis/releases/latest" rel="nofollow">Simple Windows P2Pool Installer by <em>DataHoarder</em></a>
        </h4>
        <h4 style="font-size: 13px; margin: 0px; font-weight: normal;">
            <a href="https://p2pool.io/#faq" rel="nofollow">P2Pool FAQ</a>
            ::
            <a href="https://xmrvsbeast.com/p2pool/" rel="nofollow">P2Pool Bonus Hash Rate Raffle by <em>XMRvsBEAST</em></a>
        </h4>
        <h4 style="font-size: 14px; margin: 0px; font-weight: normal;">
            Chat and get notifications via <em>lucky-bot</em> on <code>#p2pool-log @ irc.libera.chat</code>
            ::
            <strong>NOTE:</strong> This site is in development. You might find errors or invalid data.
        </h4>
        {% else %}
        <h1 class="center"><a href="/">Monero {{ getenv('SITE_TITLE') }}</a></h1>
        <h4 style="font-size: 15px; margin: 0px">
            <a href="https://github.com/SChernykh/p2pool">What is P2Pool?</a>
            ::
            <a href="https://github.com/SChernykh/p2pool#how-to-mine-on-p2pool">How to join P2Pool</a>
            ::
            <a href="/api">API Documentation</a>
        </h4>
        <h4 style="font-size: 14px; margin: 0px; color:yellow;">
            Update your monerod to
            <a href="https://www.getmonero.org/downloads/#cli" target="_blank">v0.18.0.0</a>
            and P2Pool to
            <a href="https://github.com/SChernykh/p2pool/releases/latest" target="_blank">v2.2.1</a> to be ready for August 13th network upgrade.
        </h4>
        <h4 style="font-size: 13px; margin: 0px; font-weight: normal;">
            <a href="https://sethforprivacy.com/guides/run-a-p2pool-node/" rel="nofollow">Guide on how to run a Monero and P2Pool node by <em>Seth</em></a>
            ::
            <a href="https://github.com/WeebDataHoarder/p2pool-nsis/releases/latest" rel="nofollow">Simple Windows P2Pool Installer by <em>DataHoarder</em></a>
        </h4>
        <h4 style="font-size: 13px; margin: 0px; font-weight: normal;">
            <a href="https://p2pool.io/#faq" rel="nofollow">P2Pool FAQ</a>
            ::
            <a href="https://xmrvsbeast.com/p2pool/" rel="nofollow">P2Pool Bonus Hash Rate Raffle by <em>XMRvsBEAST</em></a>
        </h4>
        {% endif %}

    </div>
</div>